{% extends "base.html" %}

{% block title%}{{user.fname}} {{user.lname}}{% endblock %}

{% block content %}
<div class="padding1">
    <div class="center">
        <div class="profile">
            <div class="profile_images">
                <div class="cover_image">
                    {% if user.cover_picture | length > 0 %}
                    <img src="{{url_for('static', filename = 'user_uploads/' + user.cover_picture)}}" alt="Linkta - {{user.fname}} {{user.lname}} Cover picture">
                    {% else %}
                    <img src="{{url_for('static', filename = 'images/default_cover_image/default_cover_picture.png')}}" alt="Linkta - Cover picture">
                    {% endif %}
                </div>
                <div class="center profile_picture">
                    {% if user.profile_picture | length > 0 %}
                    <img src="{{url_for('static', filename = 'user_uploads/' + user.profile_picture)}}" alt="Linkta - {{user.fname}} {{user.lname}}">
                    {% else %}
                    <img src="{{url_for('static', filename = 'images/default_profile_image/default_profile_picture.png')}}" alt="Linkta - Profile picture">
                    {% endif %}
                </div>
            </div>
            <h2 class="center_text">{{user.fname}} {{user.lname}}</h2>
            {% if user.whoami | length > 0 %}
            <p class="center_text"><strong>{{user.whoami}}</strong></p>
            {% endif %}
            <br>
            {% if user.about | length > 0 %}
            <div class="center">
                <div class="about">
                    <h4>About:</h4>
                    <p>{{user.about}}</p>
                </div>
            </div>
            {% endif %}
            <p class="center_text">Email : {{user.email}}</p>
            <p class="center_text">Username : {{user.username}}</p>
        </div>
    </div>
</div>
{% endblock %}